<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Local</title>
</head>
<body>
    <header>
    <a href=""><h1><b>DJANGO IS FUN!</b></h></a>
    </header>
    {% for post in posts %}
        <article>
            <h2><a href="">{{ post.title }}</a></h2>
            <time>published: {{ post.published_date }}</time>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
    

</body>
</html>